*{
    margin: 0;
    padding: 0;

}
body
{
    background-color: #252A34;
    transition: 0.2s ease-in-out;

}
.turn
{color: white;
    width: 25vh;
    height: 8vh;
    margin-top: 1rem;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;

    
  
}



.turn-box
{   font-size: 1.6rem;
    border: .15rem solid black;
    text-align: center;
    

}
.rr{
    border-right: none;
    border-radius: 1rem 0rem 0 1rem;
    background-color:#FF2E63;
}
.rx{
    border-radius: 0rem 1rem 1rem 0rem;
}

.container1{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game{
   
    
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(3,1fr);
     margin-top: 1rem;
    border: 2px solid black;
}
.box{
    color: white;
    height: 18vmin;
    width: 18vmin;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid white;
    background-color: transparent;
    box-shadow: 0 0 1.1rem rgb(73, 20, 218);
    cursor:pointer;
}
.box:hover{
    background-color: #a06fe0;
}

.result{
    margin-top: 1rem;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}
.playagain{
    margin-top: 1rem;
    color: white;
    padding: .8rem;
    font-size: 1rem;
    background-color: #FF2E63 ;
    border-radius: .6rem;
    cursor: pointer;
    border: none;
    display: none;
    transition: .2s ease-in;
}
.result{
    background-color: transparent;
    text-align: center;
    
}